In [2]:
import neurokit2 as nk
import matplotlib.pyplot as plt
import numpy
import math
import panda as pd

In [13]:
'''
each column represent the one light source in the ppg sensor
sampling rate is 24 samples per second which is ideal as the ppg relies between 0.5 and 5hz
'''

data = pd.read_csv('0000.csv', index_col= '1649438306')
data.head()

            Unnamed: 1  Unnamed: 2  Unnamed: 3
1649438306
98             74722.0    252665.0    264880.0
98             74761.0    252726.0    264924.0
98             74801.0    252745.0    264944.0
98             74787.0    252654.0    264851.0
98             74706.0    252366.0    264568.0

In [10]:
data['Unnamed: 1'].min(), data['Unnamed: 1'].max(), data['Unnamed: 1'].mean()

(70033.0, 80847.0, 75606.92574199806)

In [11]:
data['Unnamed: 2'].min(), data['Unnamed: 2'].max(), data['Unnamed: 2'].mean()

(238400.0, 279631.0, 257000.50285160038)

In [12]:
data['Unnamed: 3'].min(), data['Unnamed: 3'].max(), data['Unnamed: 3'].mean()

(252289.0, 303158.0, 274402.1816876819)